<div class="container">
    <h2>Formulario de Proveedor</h2>
    <form>
      <div class="form-proveedor">
        <label for="empresa">Empresa</label>
        <input type="text" id="empresa" [(ngModel)]="proveedores.Empresa" name="empresa" placeholder="Empresa">
      </div>
      <div class="form-proveedor">
        <label for="rut">RUT Proveedor</label>
        <input type="text" id="rut" [(ngModel)]="proveedores.RutProveedor" name="rut" placeholder="RUT Proveedor">
      </div>
      <div class="form-proveedor">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" [(ngModel)]="proveedores.Nombre" name="nombre" placeholder="Nombre">
      </div>
      <div class="form-proveedor">
        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" [(ngModel)]="proveedores.Apellido" name="apellido" placeholder="Apellido">
      </div>
      <div class="form-proveedor">
        <label for="telefono">Teléfono</label>
        <input type="tel" id="telefono" [(ngModel)]="proveedores.Telefono" name="telefono" placeholder="Teléfono">
      </div>
      <div class="form-proveedor">
        <label for="correo">Correo</label>
        <input type="email" id="correo" [(ngModel)]="proveedores.Correo" name="correo" placeholder="Correo">
      </div>
      <div class="form-buttons">
        <button type="submit" class="btn" (click)="limpiarCampos()">Limpiar</button>
        <button type="submit" class="btn" (click)="ingresarProveedor()">Ingresar</button>
      </div>
    </form>
  </div>
  